# EditorConfig for Barn
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120

# ktlint specific settings
ktlint_code_style = ktlint_official
ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_size = 2

[*.{json,xml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2

[*.gradle.kts]
indent_size = 4
